<!doctype html>
<html lang="zxx">
	<head>
    {% include "../includes/header.twig" %}
    </head>
<body>
	<!-- MAIN -->
    <main>
		{% block content %}

		{% endblock %}
    </main>
    {% include "../includes/footer.twig" %}	
</body>
</html>