{% extends "layouts/default.twig" %}

{% block content %}
    
    <!-- ================== Block Main Top ================== -->

    <!-- Photo by Nathan Anderson on Unsplash -->
    {% include 'blocks/block-main-top.twig' with block_top %}
        
    <div class="container" id="learn">
        <div class="row mt-5">
            <div class="mx-auto"><h3 class="headline-center">About Us</h3></div>
        </div>
        <div class="boxed">
            <div class="col-lg-6 boxed-left-side">
                <h3 class="font-weight-bolder text-uppercase text-success">We are the IOT Service Agency</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum quos minus saepe.</p>
                <em class="text-muted">Analysis for your IOT Projects</em>
            </div>
            <div class="col-lg-6 boxed-right-side">
                <h3 class="font-weight-bolder text-uppercase text-success">Connected, Collect and Analyze</h3>
                <blockquote>
                    <p class="lead">Weather stations, motion detections or heat maps with any sensor on connected devices</p>
                    <cite class="text-muted">&mdash; We covered all your dashboard analytics data</cite>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="container my-5 pb-5" id="about">
        <div class="row my-5">
            <div class="mx-auto"><h3 class="headline-center">Getting Started</h3></div>
        </div>
        <div class="container-fluid">
          <div class="boxed-bottom">
              <div class="boxed-bottom-left col-12 col-md-6 col-lg-4">
                  <div class="boxed-bottom-content">
                      <h4 class="font-weight-bolder text-uppercase headline text-muted">Lorem ipsum dolor sit amet.</h4>    
                      <h4>Learn More About IOTA Connect</h4>
                      <p class="text-justify">IOTA Connect is an IoT analytics platform service that allows you to aggregate, visualize and analyze live data streams in the cloud. IOTA Connect provides instant visualizations of data posted by your devices to IOTA Connect. With the ability to execute MATLAB® code in IOTA Connect you can perform online analysis and processing of the data as it comes in. IOTA Connect is often used for prototyping and proof of concept IoT systems that require analytics.</p>
                  </div>
              </div>
              <div class="boxed-bottom-right col-12 col-md-6 col-lg-4">
                  <div class="boxed-bottom-content">            
                      <h4 class="font-weight-bolder text-uppercase headline text-muted">Lorem ipsum dolor sit amet.</h4>
                      <h4>What is IoT?</h4>
                      <p class="text-justify">Internet of Things (IoT) describes an emerging trend where a large number of embedded devices (things) are connected to the Internet.<br><br>
                      IoT solutions are built for many vertical applications such as environmental monitoring and control, health monitoring, vehicle fleet monitoring, industrial monitoring and control, and various home automation.</p>
                  </div>    
              </div>
              <div class="boxed-bottom-left col-12 col-md-6 col-lg-4">
                  <div class="boxed-bottom-content">
                      <h4 class="font-weight-bolder text-uppercase headline text-muted">Lorem ipsum dolor sit amet.</h4>    
                      <h4>Learn More About IOTA Connect</h4>
                      <p class="text-justify">IOTA Connect is an IoT analytics platform service that allows you to aggregate, visualize and analyze live data streams in the cloud. IOTA Connect provides instant visualizations of data posted by your devices to IOTA Connect. With the ability to execute MATLAB® code in IOTA Connect you can perform online analysis and processing of the data as it comes in. IOTA Connect is often used for prototyping and proof of concept IoT systems that require analytics.</p>
                  </div>    
              </div>
          </div>
      </div>
    </div>
    
    <!-- ================== Block Main Bottom ================== -->

    {% include 'blocks/block-main-bottom.twig' %}

{% endblock %}