{% extends "layouts/default.twig" %}

{% block content %}

		<!-- ================== Block Main Top ================== -->
		{% include 'blocks/block-main-top.twig' %}
    
        <div class="container">
            <div class="col-lg-6 mx-auto border border-warning p-5 my-5">
                <h1 class="display-1 text-warning">Gulp, Twig and SCSS</h1>
                <span class="text-secondary">A Gulp setup by <a href="https://github.com/dyarfi">@dyarfi</a></span>
            </div>
        </div>

 		<!-- ================== Block Main Bottom ================== -->
		{% include 'blocks/block-main-bottom.twig' %}

{% endblock %}