
    <div data-filter="overlay-mute" class="block-top" style="background-image:url('{{block_top.image}}');">
        <div class="row">
            <div class="col-12 col-lg-9 text-center mx-auto border border-warning py-5 px-4 my-5">
                {{ block_top.title }}
                <div class="mx-auto text-white">
                    {{ block_top.body }}
                </div>
            </div>
        </div>
    </div>
    