<div class="bg-secondary" style="position:relative;z-index:0">
    <div style="height:100%; padding:3rem 6rem;">
        <div class="text-center mx-auto border border-warning py-5 px-5 my-5">
            <h1 class="display-3 text-warning">{{title}}</h1>
            <span class="text-secondary">{{description}}</span>
            <div class="mx-auto">
                <a href="#" class="btn btn-warning">Getting Started</a>
                <a href="#" class="btn btn-outline-warning">Learn More</a>
            </div>
        </div>
    </div>
</div>