
    <div class="subscriber">
      <div class="container">
        <div class="row">
          <div class="my-4 mx-auto">
            <form class="form-inline">
              <div class="form-row">          
                <div class="col-12">
                  <input type="text" name="subscribe" placeholder="your@email.com" class="form-control">
                  <button type="submit" name="submit" placeholder="youremail" class="btn btn-dark">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>