<div class="container-fluid">
    <div class="boxed-bottom">
        <div class="boxed-bottom-left col-lg-6 bg-light">
            <h1 class="display-4 headline">Lorem ipsum dolor sit amet.</h1>    
            <h3>Learn More About IOTA™</h3>
            IOTA™ is an IoT analytics platform service that allows you to aggregate, visualize and analyze live data streams in the cloud. IOTA™ provides instant visualizations of data posted by your devices to IOTA™. With the ability to execute MATLAB® code in IOTA™ you can perform online analysis and processing of the data as it comes in. IOTA™ is often used for prototyping and proof of concept IoT systems that require analytics.
        </div>
        <div class="boxed-bottom-right col-lg-6 bg-light">    
            <h1 class="display-4 headline">Lorem ipsum dolor sit amet.</h1>    
            <h3>What is IoT?</h3>
            Internet of Things (IoT) describes an emerging trend where a large number of embedded devices (things) are connected to the Internet. These connected devices communicate with people and other things and often provide sensor data to cloud storage and cloud computing resources where the data is processed and analyzed to gain important insights. Cheap cloud computing power and increased device connectivity is enabling this trend.<br><br>
            IoT solutions are built for many vertical applications such as environmental monitoring and control, health monitoring, vehicle fleet monitoring, industrial monitoring and control, and home automation.

        </div>
    </div>
</div>