<div class="container">
    <div class="row">
        <div class="col-lg-6 bg-secondary">
            <h1 class="display-4">Lorem ipsum dolor sit amet.</h1>    
        </div>
        <div class="col-lg-6 bg-dark">    
            <h1 class="display-4">Lorem ipsum dolor sit amet.</h1>    
        </div>
    </div>
</div>