    
    
    <footer>
        <!-- insert your footer here -->
        <div class="bg-secondary" style="margin-top:2rem;margin-bottom:1.25rem;padding-top:5rem;padding-bottom:5rem;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h4>Company</h4>
                        <ul class="list-inline">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h4>Company</h4>
                        <ul class="list-inline">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h4>Company</h4>
                        <ul class="list-inline">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                            <a class="navbar-brand ml-3" href="#"><i class="text-warning ">//</i> <span class="text-success">IOTA</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="mx-auto">
                        <p class="text-muted">Copyright @ 2018. All right reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>