    
    
    <footer>
        <div class="bg-light footer-holder">
            <div class="container">
                <div class="row mx-auto">
                    <div class="col-sm-6 col-lg-3">
                        <h4 class="text-muted font-weight-bold">Company</h4>
                        <ul class="list-links">
                            <li><a href="about.html">About</a></li>
                            <li><a href="service.html">Service</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <h4 class="text-muted font-weight-bold">Resources</h4>
                        <ul class="list-links">
                            <li><a href="#">Getting Started</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">API</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <h4 class="text-muted font-weight-bold">Developers</h4>
                        <ul class="list-links">
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Forums</a></li>
                            <li><a href="#">Slack</a></li>
                            <li><a href="#">Gitter</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <a class="navbar-brand ml-3" href="#"><i class="text-warning ">//</i> <span class="text-success">IOTA Connect</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="mx-auto">
                        <p class="text-muted">Credits for images goes to Nathan Anderson, Hatsukami Morgan, Stephen Dawson, Felipe Faria, Stephen Dawson, rawpixel on <a href="http://unsplash.com/" target="blank">Unsplash.com</a>.
                            <span class="d-block text-center">Copyright @ 2019</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    